name: .NET Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'
        
    - name: Restore dependencies
      run: dotnet restore Polyclinic.sln
      
    - name: Build
      run: dotnet build --no-restore --configuration Release Polyclinic/Polyclinic.sln
      
    - name: Run tests
      run: dotnet test Polyclinic/Polyclinic.Tests/Polyclinic.Tests.csproj --no-build --configuration Release
